<!doctype html>
<html>
    <head>
        <title>
            {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} –
            {{ site.description }}
        </title>
        {% seo title=false %} {% include meta.html %}

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ site.baseurl }}/assets/style.css"
        />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{{ site.name }} - {{ site.description }}"
            href="{{ site.baseurl }}/feed.xml"
        />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

        <meta name="theme-color" content="#000000" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ site.baseurl }}/images/favicon-32x32.png"
        />
        {% include analytics_head.html %}
    </head>

    <body>
        <div id="bar"></div>
        <div class="wrapper-container">
            <!-- <div class="wrapper-masthead">
                <div class="container">
                    <header class="masthead clearfix">
                        <a href="{{ site.baseurl }}/" class="site-avatar a-url"
                            ><img
                                src="{{ site.baseurl }}{{ site.avatar }}"
                                alt="{{ site.title }}"
                        /></a>

                        <div class="site-info">
                            <h1 class="site-name">
                                <a href="{{ site.baseurl }}/" class="a-url"
                                    >{{ site.name }}</a
                                >
                            </h1>
                            <p class="site-description">
                                {{ site.description }}
                            </p>
                        </div>

                        <nav>
                            <a href="{{ site.baseurl }}/" class="a-url"
                                >About</a
                            >
                            <a href="{{ site.baseurl }}/blogs" class="a-url"
                                >Blog</a
                            >
                            <a href="{{ site.baseurl }}/knowledge" class="a-url"
                                >Knowledge</a
                            >
                        </nav>
                    </header>
                </div>
            </div> -->

            <div class="wrapper-masthead">
                <div class="container">
                    <header class="header">
                        <div style="display: flex">
                            <a
                                href="{{ site.baseurl }}/"
                                class="site-avatar a-url"
                                ><img
                                    src="{{ site.baseurl }}{{ site.avatar }}"
                                    alt="{{ site.title }}"
                            /></a>
                            <div class="site-info">
                                <h1 class="site-name">
                                    <a href="{{ site.baseurl }}/" class="a-url"
                                        >{{ site.name }}</a
                                    >
                                </h1>
                                <p class="site-description">
                                    {{ site.description }}
                                </p>
                            </div>
                        </div>

                        <nav class="menu">
                            <ul>
                                <li>
                                    <a href="{{ site.baseurl }}/" class="a-url"
                                        >About</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="{{ site.baseurl }}/blogs"
                                        class="a-url"
                                        >Blog</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="{{ site.baseurl }}/knowledge"
                                        class="a-url"
                                        >Knowledge</a
                                    >
                                </li>
                            </ul>
                        </nav>
                        <div class="hamburger" onclick="toggleMenu()">
                            &#9776;
                        </div>
                    </header>
                </div>
            </div>
            <div class="menu-overlay" id="menuOverlay">
                <nav class="menu-slide">
                    <ul>
                        <li>
                            <a href="{{ site.baseurl }}/" class="a-url"
                                >About</a
                            >
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/blogs" class="a-url"
                                >Blog</a
                            >
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/knowledge" class="a-url"
                                >Knowledge</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="wrapper-main">
                <div id="main" role="main" class="container">{{ content }}</div>
            </div>

            <div class="wrapper-footer">
                <div class="container">
                    <footer class="footer">{% include svg-icons.html %}</footer>
                </div>
            </div>
        </div>

        {% include analytics.html %}
        <script>
            function toggleMenu() {
                const menuOverlay = document.getElementById("menuOverlay");
                menuOverlay.style.right =
                    menuOverlay.style.right === "0%" ? "-100%" : "0%";
            }
        </script>
    </body>
</html>
